.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;

}

#wrapper{
  position: relative;
  float: none;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
